<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Browser" value="Chrome"/>
    <add key="driverPath" value="@//..//..//..//WebDriver"/>
    <add key="user" value="Lexx20"/>
    <add key="pass" value="astalavista"/>
    <add key="url" value="https://mail.ru/"/>
    <add key="email" value="lexx20@mail.ru"/>
    <add key="recipient" value="aliaksandr_naryzhny@epam.com"/>
    <add key="randomSubject" value="randomSubject"/>
    <add key="body" value="body"/>
    <add key="testMessage" value="test"/>
  </appSettings>
</configuration>